/* === Koszyk === */

/* === Id === */

#koszyk {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 6.25rem;
    width: 100%;
    box-sizing: border-box;
}

#koszykNaglowek {
    text-align: center;
    margin-bottom: 1.25rem;
}

/* === Klasy === */

.koszykElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--container);
    border: 2px solid var(--outline);
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    height: auto; 
    min-height: 18rem; 
}

.koszykElement .ksiazka {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12.5rem; 
    margin-bottom: 0.9375rem; 
}

.koszykMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
}

/* === Przycisk na wypożyczanie książek === */
.koszykWypozycz {
    display: block;
    padding: 0.625rem 1.25rem;
    text-align: center;
    height: auto !important;
    min-height: 2.5rem;
    margin: 1.25rem;
    background-color: var(--background-button);
    color: var(--button-text);
    border: 1px solid var(--background-button-outline);
    border-radius: 50px;
    font-weight: 600;
}

.koszykWypozycz:hover {
    cursor: pointer;
    background-color: var(--background-button-highlight);
}

.KoszykPusty {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    color: var(--text);
}

/* === Ustawienia dla trybu Wysokiego Kontrastu === */

html.wysoki-kontrast .koszykElement {
    border: 3px solid #FFFF00 !important;
    background-color: #000000 !important;
}

html.wysoki-kontrast .koszykWypozycz {
    background-color: #FFFF00 !important;
    color: #000000 !important;
    border: 2px solid #FFFF00 !important;
}
